
<!-- title -->
<div class="container has-text-centered mt-4 mb-6">
    <p class="title">
        Welcome to the Blog!
    </p>
    <p class="subtitle">
        - here are our recient posts -
    </p>
</div>

<!-- cards -->
{{#each posts as |post|}}
<div class="box mx-6">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{post.title}}</strong>
                    <br>
                    {{post.content}}
                    <br>
                    <small>posted by {{post.author}}</small> <small>on {{post.date}}</small>
                    <br>
                    {{#if loggedIn}}
                    <small><a class="has-text-primary reply-btn">Reply</a></small>
                    {{/if}}
                </p>
            </div>
                {{#each comments as |comment|}}
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                        <p>
                            <br>
                            {{comment.comment}}
                            <br>
                            <small>posted by {{comment.author}}</small> <small>on {{comment.date}}</small>
                    </div>
                </article>
                {{/each}}
                {{#if loggedIn}}
                <article class="media add-comment">
                    <div class="media-content">
                        <div class="field">
                        <p class="control">
                            <textarea class="textarea" placeholder="Add a comment..."></textarea>
                        </p>
                        </div>
                        <div class="field">
                        <p class="control">
                            <button class="button post-comment-btn">Post comment</button>
                        </p>
                        </div>
                    </div>
                </article>
                {{/if}}
        </div>
    </article>
</div>
{{/each}}

<script src="js/homepage.js"></script>